

/*────────────────── 
       vaiables
──────────────────*/
:root{
	--main-background: #e6e6e6;
	--main-fonts-color: #ffffff;
	--main-decor-color:#ffffff;
  --main-header-background:#ffffff;
	--main-font-family: 'Poppins', sans-serif;

  --button-home-color: darkcyan;
  --button-ratings-color: darkcyan;
  --button-about-color: darkcyan;
  --button-games-color: darkcyan;
}

/*────────────────── 
     global
──────────────────*/

.centre {
  text-align: center;
}

/*────────────────── 
    body and main
──────────────────*/

.background {
  background-color: var(--main-background);
}

body {
  font-family: 'Poppins', sans-serif;
}

/*────────────────── 
       header
──────────────────*/

.icon {
  height: 160px;
  padding-top: 15px;
  border-radius: 50%;
}

/*────────────────── 
       nav
──────────────────*/
.button button {
  background-color: darkcyan;
  border: none;
  color: white;
  margin: 6px 0px 6px 6px;
  padding: 8px 18px;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  transition-duration: 0.4s;
}

.button button:hover {
  background-color: #00c2c2;
  margin: 6px -4px 6px 2px;
  padding: 8px 22px;
}

#nav-home {
  background-color: var(--button-selected);
}

/*──────────────────
       home
──────────────────*/



/*────────────────── 
  intro section
──────────────────*/



/*──────────────────
      about
──────────────────*/



/*────────────────── 
       footer
──────────────────*/

/*────────────────── 
     debugging
──────────────────*/

.debug-box {
  border: 2px solid #1430ff;
}