

/*────────────────── 
       vaiables
──────────────────*/
:root{
	--main-background: #e6e6e6;
	--main-fonts-color: #ffffff;
	--main-decor-color:#ffffff;
  --main-header-background:#ffffff;
	--main-font-family: 'Poppins', sans-serif;
}

/*────────────────── 
     global
──────────────────*/

.centre {
  align: text;
}

/*────────────────── 
    body and main
──────────────────*/

.background {
  background-color: var(--main-background);
}

/*────────────────── 
       header
──────────────────*/

.icon {
  height: 160px;
  padding-top: 15px;
  border-radius: 50%;
}

/*────────────────── 
       nav
──────────────────*/


/*──────────────────
       home
──────────────────*/



/*────────────────── 
  intro section
──────────────────*/



/*──────────────────
      about
──────────────────*/



/*────────────────── 
       footer
──────────────────*/

/*────────────────── 
     debugging
──────────────────*/

.debug-box {
  border: 2px solid #1430ff;
}